body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #212635;
  }
  
  /*
   * Formatting the header area
   */
   
  header {
    background-color: #829ff7;
    height: 10%;
    width: 98%;
    opacity: .9;
    /*margin-bottom: 1%;*/
    padding:1%;
  }
  
  header h1.logo {
    margin: 0;
    font-size: 90%vh;
    color: #fff;
    text-transform: uppercase;
    float: left;
    width: 50%;
    padding: 15px 1% 1% 0% ;
  }
  
  header h1.logo:hover {
    color: #fff;
    text-decoration: none;
  }
  
  /*
   * Center the body content
   */
  
  .container {
    width: 90%;
    margin: 0 auto;
  }
  
  div.home {
    margin: 10%;
    padding: 10%;
    background-color: #fff;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
    text-align: center;
    color: #3451a9
  }
  
  div.about {
    padding: 10px 0 30px 0;
    background-color: #E6E6FA;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
  }
  
  h2 {
    font-size: 1em;
    margin-top: 40px;
    text-align: center;
    letter-spacing: 0px;
  }
  
  h3 {
    font-size: 1.7em;
    font-weight: 100;
    margin-top: 30px;
    text-align: center;
    letter-spacing: -1px;
    color: #999;
  }
  
  .menu {
    float: right;
    margin-top:26px;
    font-size: 50%vh;
    text-transform: uppercase;
  }
  
  .menu li {
    display: inline;
  }
  
  .menu li + li {
    margin-left: 35px;
  }
  
  .menu li a {
    color: #fff;
    text-decoration: none;
  }
  
  .converted-text {
    color: #444
  }
