{%extends "layout.html"%}
{%block content%}
<div class = "home">
    <h1>About me</h1>
    <h1>“You don’t have to be great to start, but you have to start to be great.” – Zig Ziglar</h1>
    <p>I started out programming a little later than my peers. I went to University for a stem related course and 
    on a whim, decided to learn programming. A decision that I believe is one of the best I've made.</p>
    <p>Currently, I am in my last year of university. On this website you can find
    all the projects I've started from when I first began coding. I hope you enjoy!</p>
</div>
{%endblock%}