{%extends "layout.html"%}
{%block content%}
<div class = "home">
    <head>
        <title>File Upload</title>
      </head>
      <body>
        <h1>File Upload</h1>
        <form method="POST" action="" enctype="multipart/form-data">
          <p><input type="file" name="file"></p>
          <p><input type="submit" value="Submit"></p>
        </form>

        <h2>Your file says the following: </h2>
        <br>
        <!-- display text of image -->
        <p class="converted-text">{{text}}</p>

      </body>
</div>
{%endblock%}