{%extends "layout.html"%}
{%block content%}
<div class = "home">
    <head>
        <title>File Upload</title>
      </head>
      <body>
        <h2>File Upload</h2>
        <p> Upload a photo and have it be converted into text!</p>
        <form method="POST" action="" enctype="multipart/form-data">
          <p><input class="formbutton" type="file" name="file"></p>
          <p><input type="submit" value="Submit"></p>
        </form>
        <!-- display this text when we have converted text -->
        <h3> {{displaytext}} </h3>
        <br>
        <!-- display text of image -->
        <p class="converted-text">{{text}}</p>

      </body>
</div>
{%endblock%}